<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
<head>
<title>Spotify API Playground: Solutions</title>
<meta name="description" content="An introduction to interacting with the Spotify API">
<link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <div>
    <h1>Playlist Facts</h1>
  </div>
  <a class="pull-right" href="https://glitch.com/edit/#!/spotify-playground-solutions">
    <button class="btn btn-lg btn-primary">See the code</button>
  </a>
</header>

<main>
  <section>
    <h2>Playlists Tracks</h2>
    <div id="playlists-tracks-container"></div>
  </section>


  
  <section>
    <h2>Get an Artist</h2>
    <div id="artist-container"></div>
  </section>

  <section>
    <h2>Get an Artist's Top Tracks</h2>
    <ol id="top-tracks-container"></ol>
  </section>

  <section>
    <h2>Get a User Profile</h2>
    <div id="user-container"></div>
  </section>

  
  
</main>

<footer>
  <a href="https://glitch.com/edit/#!/spotify-playground-solutions">
    <button class="btn btn-lg btn-primary">See the code</button>
  </a>
</footer>

<script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script src="/client.js"></script>
</body>
</html>
