* {
  box-sizing: border-box;
}

body {
  padding: 40px 0;
}

header {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: bold;
  color: #1ED760;
}

dt { float: left; }

main {
  background-color: #2196F3;
}

.circle-image {  border-radius: 300px;}

section {
  padding: 30px 70px;
  margin: 20px 0;
}

footer {
  text-align: center;
}

.big-number {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

p.big-number {
  
}

#results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 30vh;
  background-color: #000000;
}

#results li {
  text-decoration: underline;
  cursor: pointer;
}

.features-chart {
  background-color: #000000;
  padding: 2em 1em 1em; 
}

@media screen and (max-width: 900px) {
  #results {
    display: inline-block;
    max-height: auto;
  }
}

@media screen and (min-width: 1280px) {
  #results {
    max-height: 20vh;
  }
}